---
---

<div class="pub-card">
  <div class="pub-card-inner">
    {% if entry.thumbnail %}
    <div class="pub-thumbnail">
      <img src="{{ entry.thumbnail | relative_url }}" alt="Thumbnail for {{ entry.title }}" loading="lazy">
    </div>
    {% endif %}

    <div id="{{ entry.key }}" class="pub-content">
      {% if entry.type == "thesis" %}
        {{ reference }}
      {% else %}
        <div class="title">{{ entry.title }}</div>
        <div class="author">
        {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% assign equal_contribution = false %}
          
          {% if author.last contains '*' %}
            {% assign equal_contribution = true %}
            <!-- {% assign author.last = author.last | replace: '*', '' %} -->
          {% endif %}

          {% assign cleaned_last_name = author.last | replace: '*', '' %}

          {% if author.last contains site.scholar.last_name %}
              {% assign author_is_self = true %}
          {% endif %}
          
          {% assign coauthor_url = nil %}
          {% if site.data.coauthors[cleaned_last_name] %}
            {% for coauthor in site.data.coauthors[cleaned_last_name] %}
              {% if coauthor.firstname contains author.first %}
                {% assign coauthor_url = coauthor.url %}
                {% break %}zw
              {% endif %}
            {% endfor %}
          {% endif %}
          
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              <strong>{{ author.first }} {{ cleaned_last_name }}</strong>{% if equal_contribution %}<sup>*</sup>{% endif %}
            {% else %}
              {{ author.first }} {{ cleaned_last_name }}{% if equal_contribution %}<sup>*</sup>{% endif %}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
                <strong>{{ author.first }} {{ cleaned_last_name }}</strong>{% if equal_contribution %}<sup>*</sup>{% endif %},
              {% else %}
                {% if coauthor_url %}
                  <a href="{{ coauthor_url }}" target="_blank" style="color: #A78B71; text-decoration: none; border-bottom: none;">{{ author.first }} {{ cleaned_last_name }}</a>{% if equal_contribution %}<sup>*</sup>{% endif %}{% if cleaned_last_name contains 'Shi' %}<sup><i class="fas fa-envelope mail-small"></i></sup>{% endif %},
                {% else %}
                  {{ author.first }} {{ cleaned_last_name }}{% if equal_contribution %}<sup>*</sup>{% endif %},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and <strong>{{ author.first }} {{ cleaned_last_name }}</strong>{% if equal_contribution %}<sup>*</sup>{% endif %}
              {% else %}
                {% if coauthor_url %}
                  and <a href="{{ coauthor_url }}" target="_blank" style="color: #A78B71; text-decoration: none; border-bottom: none;">{{ author.first }} {{ cleaned_last_name }}</a>{% if equal_contribution %}<sup>*</sup>{% endif %}{% if cleaned_last_name contains 'Shi' %}<sup><i class="fas fa-envelope mail-small"></i></sup>{% endif %}
                {% else %}
                  and {{ author.first }} {{ cleaned_last_name }}{% if equal_contribution %}<sup>*</sup>{% endif %}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="periodical">
        {% if entry.type == "article" %}
          <em>{{ entry.journal }}</em>,
        {% elsif entry.type == "inproceedings" %}
          <em>In {{ entry.booktitle }}</em>,
        {% endif %}
        {% if entry.year %}
          {{ entry.year }}
        {% endif %}
      </div>
    {% endif %}

    <div class="links">
      {% if entry.pdf %}
        {% if entry.pdf contains '://' %}
          <a href="{{ entry.pdf }}" class="btn-custom btn-custom-pdf" role="button" target="_blank">pdf</a>
        {% endif %}
      {% endif %}
      {% if entry.supp %}
        {% if entry.supp contains '://' %}
          <a href="{{ entry.supp }}" class="btn-custom btn-custom-supp" role="button" target="_blank">supp</a>
        {% endif %}
      {% endif %}
      {% if entry.code %}
        <a href="{{ entry.code }}" class="btn-custom btn-custom-code" role="button" target="_blank">code</a>
      {% endif %}
      {% if entry.website %}
        <a href="{{ entry.website }}" class="btn-custom btn-custom-website" role="button" target="_blank">web</a>
      {% endif %}
      {% if entry.bibtex_show %}
        <a class="bibtex btn-custom btn-custom-bib" role="button">bib</a>
      {% endif %}
    </div>

      {% if entry.bibtex_show %}
      <div class="bibtex hidden">
        {% assign cleaned_author_content = entry.author | replace: "*", "" %}
        {% capture bibtex_content -%}
          @{{ entry.type }}{ {{ entry.key }},
          title = { {{ entry.title | strip }} },
          author = { {{ cleaned_author_content | strip }} },
          {% if entry.booktitle %}booktitle = { {{ entry.booktitle | strip }} },{% endif %}{% if entry.journal %}journal = { {{ entry.journal | strip }} },{% endif %}
          year = { {{ entry.year | strip }} },
          {% if entry.pages %}pages = { {{ entry.pages | strip }} },{% endif %}
          {% if entry.volume %}volume = { {{ entry.volume | strip }} },{% endif %}
          {% if entry.issue %}number = { {{ entry.issue | strip }} },{% endif %}
        {%- endcapture %}
        {% assign cleaned_bibtex_content = bibtex_content | replace: "/\n+$/", "" %}
        {% highlight bibtex %}
        {{ cleaned_bibtex_content | strip}}
        }
        {% endhighlight %}
      </div>
      {% endif %}
    </div>
  </div>
</div>